<!DOCTYPE html>
<html lang="en" xmlns:th="https:/www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/defaultlayout">
<head>
<meta charset="UTF-8">
<title>List of Cat</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div id="page-wrapper">
			<div class="container-fluid">

				<div class="row">
					<div class="col-lg-12">
						<br>
						<h1>List Add Cats</h1>
						<!--[[${cats}]]-->
						<!-- /.row -->
						<div class="row">
							<div class="col-lg-12">
								<div class="panel panel-default">
									<div class="panel-heading">Cats All</div>
									<!-- /.panel-heading -->
									<div class="panel-body">
										<div class="table-responsive">

											<table class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th th:text="#{id}"></th>
														<th th:text="#{name}">Name</th>
														<th th:text="#{breed}">Breed</th>
														<th th:text="#{restry}">Registry</th>
														<th th:text="#{picture}">Profile</th>
														<th th:text="#{action}">Action</th>
													</tr>
												</thead>
												<tbody>
												<tr th:each="cat_sayon:${cats}">
													<td>[[${cat_sayon.id}]]</td>
													<td th:text="${cat_sayon.name}">Name</td>
													<td th:text="${cat_sayon.breed}">Breed</td>
													<td th:text="${cat_sayon.registry}">Registry</td>
													<td><img style="height: 100px; width: 200px"
														th:src="${cat_sayon.picture}"></img></td>
													<td><a
														th:href="@{/view/{id}/ (id=${cat_sayon.getId()})}" ><button class="btn btn-outline btn-success">View</button></a>

														<a th:href="@{/update/{id}/ (id=${cat_sayon.getId()})}"><button class="btn btn-outline btn-primary">Update</button></a>
														<button class="delete-btn btn btn-outline btn-danger	" th:attr="data-id=${cat_sayon.getId()}">Delete</button></td>
												</tr>
												
												</tbody>
											</table>

										</div>
										<!-- /.table-responsive -->
									</div>
									<!-- /.panel-body -->
								</div>
								<!-- /.panel -->
							</div>

						</div>
					</div>

					<!-- ... Your content goes here ... -->

				</div>
			</div></div>
		</div>
</body>
</html>



