<div xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
	<div class="header">
	  <a href="#default" class="logo"><center>Footer</center></a>
	  <div class="header-right">
	  </div>
	</div>
</div>