<div xmlns:th="http://www.thymeleaf.org" th:fragment="scriptindex">
	<script th:src="@{js/scriptindex.js}"></script>
	<script src="js/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/js/bootstrap.min.js"></script>
	
	<!-- Metis Menu Plugin JavaScript -->
	<script src="js/js/metisMenu.min.js"></script>
	
	<!-- Custom Theme JavaScript -->
	<script src="js/js/startmin.js"></script>
		
</div>