<div xmlns:th="http://www.thymeleaf.org" th:fragment="script">
    <!-- Bootstrap Core CSS -->
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/style/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/style/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/style/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/style/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" th:href="@{/style/styleHome.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</div>